/* Modal Overlay */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Modal Container */
.modal-container {
    background: #ffffff;
    border-radius: 15px;
    padding: 40px;
    max-width: 400px;
    width: 90%;
    text-align: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.5s ease-in-out;
    padding-bottom: 100px;
}


.modal-logo {
    height: 100px;
    animation: scaleIn 0.5s ease-in-out;
}

.modal-title {
    font-family: 'Twentieth Century', sans-serif;
    font-size: 20px;
    color: #333333;
    margin-bottom: 40px;
    animation: slideDown 0.5s ease-in-out;
}

/* Modal Input */
.modal-input {
    width: 93%;
    padding: 15px;
    padding-left: 25px;
    border-radius: 50px;
    border: 1px solid #cccccc;
    font-size: 16px;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
}

.modal-input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Modal Buttons */
.modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

/* Modal Button */
.modal-button {
    flex: 1;
    padding: 15px;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.close-button {
    background-color: #dc3545;
}

.submit-button {
    background-color: #28a745;
}

.close-button:hover {
    background-color: #c82333;
}

.submit-button:hover {
    background-color: #218838;
}

/* Animation Keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes scaleIn {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(-20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Responsive Styles */
@media (max-width: 768px) {
    .modal-container {
        padding: 20px;
    }

    .modal-title {
        font-size: 24px;
    }

    .modal-input {
        padding: 12px;
    }

    .modal-button {
        padding: 12px;
        font-size: 14px;
    }
}
